body{
    font-family: 'Poppins', sans-serif;
    margin-left: 0%;
    margin-right: 0%;
}
.adjust{
    display: flex;
    margin-bottom: 100px;
    margin-top: 10%;
    
}
#another{
    padding-left: 5%;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
h1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: gray;
    
}


h3{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: lightslategray;
    padding-top: 20%;
    
}
#new_one{
    padding-left: 10%;
    padding: top 30%; 
    text-align: justify;
    padding-right: 10%;
}
.recipie_item{
    text-align: center;
}
.about_us{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
span{
    color: rgb(240, 115, 13)
}
p{ 
    color: rgb(161, 155, 155);
}
.link-button{
    text-decoration: none;
    background: linear-gradient(
45deg
, lightsalmon, tomato);
    padding: 8px 15px;
    border-radius: 15px;
    color: white;
    font-weight: 700;
}
.align{
    padding-left: 120px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.flexibility{
     display: flex;
}
.box-setup{
    box-shadow: inherit;
}
footer{background-color: black;
    margin-top: 100px;
    width: 100%;}
    footer h3{font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 30px;}
    footer p{font-size: 14px;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;}
